<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <form action="/adddepartment" method="post">
        {% csrf_token %}

        {% if departmentname_error %}
        <p>
            {{ departmentname_error }}
        </p>
        {% endif %}

        <label for="departmentname">Department Name:</label>
        <input type="text" name="departmentname" id="departmentname">
        
        <input type="submit" value="Add Department">
    </form>
</body>
</html>