<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Musicians Page</p>

    <table border='1'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for musician in favorite_musicians  %}
            <tr>
                <td>{{ musician.id }}</td>
                <td>{{ musician.name }}</td>
                <td>{{ musician.genre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>